{% block content %}
    <h1>Add A Blog Entry</h1>
    <form method='post'>
        <label>
            Title for your new blog:
            <input type="text" name='blogtitle' />
        </label>
        <label>
            Your new blog:
            <input type="text" name= 'blogbody'/>
            
        </label>

        <input type="submit" value='Add Entry' />
    </form>

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog}}

            </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
        